
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/

html{
    overflow-x: hidden !important;
  }
  body {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color:  $default;
    background-color: $white;

  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:last-child {
    margin-bottom: 0;
  }
  
  input, textarea {
    @include placeholder(rgba($default,0.5));
    outline: none; 
  }
  button {
    outline: none; 
    border: 0;
    cursor: pointer;
  }
  table {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    tr {
      padding: 0;
      margin: 0;
    }
    th {
      font-style: normal;
      padding: 0;
      margin: 0;
    }
    td {
      padding: 0;
      margin: 0;
    }
  }
  
  address {
    font-style: normal;
  }
  
  blockquote {
    margin: 0;
    padding: 0;
  }
  
  input[type='text'],
  textarea {
    outline: none;
    @include transition(0.3s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include rounded(0);
    border: none;
    border-bottom: 1px solid $default;
    height: 14px;
    font-size: 13px;
    line-height: 32px;
    padding: 0 8px;
    margin: 0;
    width: 100%;
    background: transparent;

  }
  textarea {
    height: 72px;
    padding-top: 8px;
  }
  
  input[type='submit'] {
    @include transition(0.3s);
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: $default;
    font-size: 13px;
    @include mq('desktop'){
      font-size: 14px;
    }
    &:hover {
      text-decoration: none;
      color: $default;
    }
  }
  
  p {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.2em;
    @include mq('desktop'){
      font-size: 14px;
    }
    &.is-small {
      font-size: 13px;
      line-height: 14px;
    }
    &.is-medium {
      font-size: 14px;
      line-height: 18px;
    }
    &.is-large {
      font-size: 20px;
      line-height: 26px;
    }
  }
  
  %clearfix {
    *zoom: 1;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  
  .clearfix {
    @extend %clearfix;
  }
  
  .row-fluid {
    *zoom: 1;
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both; 
    }
    [class*="span-"] {
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      &:first-child {
        margin-left: 0 !important;  
      }
    }
    .no-gutter {
      margin-left: 0 !important;
    }
    .pull-right{
      float: right;
    }
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: 100%; 
        }
    }
  
    @include mq('tablet') {
      $default-gutter-px: 0;
      $default-screen-px: 768;
      $default-column-px: 64;
      $default-column-perc: $default-column-px / $default-screen-px;
      $default-gutter-perc: $default-gutter-px / $default-screen-px;
      $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
      @for $i from 1 through 12 {
          .span-#{$i} { 
            width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
          }
          [class*="span-"].offset-#{$i} { 
            margin-left: percentage($default-column-gutter-perc * $i) !important;
          }
          [class*="span-"].pull-right.offset-#{$i} { 
            margin-right: percentage($default-column-gutter-perc * $i) !important;
            margin-left: 0 !important;
          }
      }
      [class*="span-"],
      [class*="span-"].has-gutter {
        margin-left: percentage($default-gutter-perc);
      }
    }
  
    @include mq('desktop') {
      $default-gutter-px: 0;
      $default-screen-px: 1440;
      $default-column-px: 120;
      $default-column-perc: $default-column-px / $default-screen-px;
      $default-gutter-perc: $default-gutter-px / $default-screen-px;
      $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
      @for $i from 1 through 12 {
          .span-#{$i} { 
            width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
          }
          .offset-#{$i} { 
            margin-left: percentage($default-column-gutter-perc * $i) !important;
          }
          [class*="span-"].pull-right.offset-#{$i} { 
            margin-right: percentage($default-column-gutter-perc * $i) !important;
            margin-left: 0 !important;
          }
      }
      [class*="span-"],
      [class*="span-"].has-gutter {
        margin-left: percentage($default-gutter-perc);
      }
    }
  }
  
  .mobile-hide {
    display: none !important;
  }
  @include mq('tablet') {
    .mobile-hide {
      display: inherit !important;
    }
    .tablet-hide {
      display: none !important;
    }
  }
  @include mq('desktop') {
    .mobile-hide {
      display: inherit !important;
    }
    .tablet-hide {
      display: inherit !important;
    }
    .desktop-hide {
      display: none !important;
    }
  }
  
  .chat-s-section{
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    @include mq('desktop') {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .chat-b-container {
      position: relative;
      @extend %clearfix;
      padding-left: 20px;
      padding-right: 20px;
      @include mq('desktop') {
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
      }
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 8px 0;
    padding: 0;
    line-height: 1.2em;
    font-family: 'Campton-bold', sans-serif;
  }
  
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  h2 {
    font-size: 28px;
    line-height: 34px;
  }
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
  h4, h5, h6 {
    font-size: 20px;
    line-height: 24px;
  }
  blockquote {
    font-size: 20px;
    line-height: 24px;
  }
  @include mq('tablet') {
    body {
      font-size: 14px;
      line-height: 20px;
    }
    h1 {
      font-size: 40px;
      line-height: 44px;
    }
    h2 {
      font-size: 32px;
      line-height: 36px;
    }
    h3 {
      font-size: 24px;
      line-height: 28px;
    }
  }
  
  @include mq('desktop') {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 16px;
    }
    h1 {
      font-size: 48px;
      line-height: 50px;
    }
    h2 {
      font-size: 36px;
      line-height: 40px;
    }
    h3 {
      font-size: 28px;
      line-height: 32px;
    }
    blockquote {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .gmnoprint{
    display: none;
  }
  button[type = submit]{
    cursor: pointer;
  }

/*
   .-----------------------------------------------------.
   |                     Component Css                   |
   '-----------------------------------------------------'
*/
.chat-scroll-bar{
  &::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
&::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
&::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
&::-webkit-scrollbar-corner {
    background-color: transparent;
}
}
.chat-b-search{
  input{
    border: 0;
    line-height: 20px;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
  }
  .btn-search{
    display: inline-block;
    vertical-align: middle;
    border: 0;
    background-color: transparent; 
    width: 75px;
    color: #647584;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    text-align: right;
    padding-right: 0;
    &:before{
      @include pseudo();
      background: url(../images/icon-search.png) no-repeat;
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
      left: 0;
      top: 50%;
      @include transform(translate(0,-50%));
    }
  }
}
.chat-btn{
  display: inline-block;
  background-color: $blue;
  text-transform: uppercase;
  color: $white;
  @include rounded(5px);
  padding: 15px 20px;
  border: 0;
}
.chat-b-user-box{
  padding: 30px 20px 20px;
  border-bottom: 1px solid #d7dfe6;
  &:last-child{
    border-bottom: 0;
  }
  &.chat-focus{
    background-color: $white;
  }
  .chat-left{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include rounded(5px);
      overflow: hidden;
    }
    span{
      position: absolute;
      width: 20px;
      height: 20px;
      @include rounded(50%);
      left: 0;
      top: 0;
      background-color: $blue;
      @include transform(translate(-50%, -50%));
      text-align: center;
      line-height: 18px;
      font-size: 12px;
      color: $white;
      border: 2px solid #eff4f8;
    }
  }
  .chat-center{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 110px);
    padding: 0 5px 0 20px;
    p{
      font-size: 14px;
        color: #444444;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; 
        line-height: 14px;        
        max-height: 14px; 
      &:nth-child(1){
        color: #444444;
      }
      &:nth-child(2){
        color: #aaaaaa;
      }
    }
  }
  .chat-right{
    display: inline-block;
    vertical-align: top;
    width: 60px;
    text-align: right;
  }
}

.chat-b-user-info{
  display:table;
  width: 100%;
  .chat-left{
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 27px);
      .chat-head{
        vertical-align: top;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        position: relative;
        float: left;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include rounded(5px);
          overflow: hidden;
        }
      }
      .chat-body{
        float: left;
        min-width: 120px;
        color: $white;
        p{
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 0;
        }
        .chat-b-status{
          font-size: 14px;
          position: relative;
            a{
              color: $white;
            }
            
        }
      }
  }
  .chat-right{
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
}
.chat-btn-dot{
    width: 24px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
  span{
    width: 4px;
    height: 4px;
    display: inline-block;
    position: relative;
    @include rounded(50%);
    border: 1px solid $white;
    &:nth-child(2){
      margin: 0 5px;
    }
  }
  &:hover{
    span{
      background-color: rgba(255,255,255,.2); 
    }
  }

}

.chat-dropdown{
  position: absolute;
  padding: 0;          
  background-color: #d6dfe6;
  top: 100%;
  z-index: 2;
  li{
    a{
      line-height: 22px;
      padding: 4px 8px;
      display: block;
      color: $default !important;  
    }
  }
}

.chat-b-chatmain{
  .chat-b-chatmain-inner{
    .chat-b-head{
      padding: 0 20px 15px;
      border-bottom: 1px solid rgba(80, 158, 226, 0.2); 
      .chat-left{
        margin-bottom: 10px;
        h3{
          margin-bottom: 5px;
          font-size: 14px;
          line-height: 16px;
        }
        .chat-b-left-option{
          button{
            margin-right: 8px;
            padding-right: 8px;
            border-right: 1px solid rgba(0,0,0,.1);
          }
          span{
            font-size: 13px;
            line-height: 16px;          
          }
        }
      }
      .chat-right{
        button{
          margin-right: 8px;
          &:last-child{
            margin-right: 0;
          }
        }
        @include mq('tablet'){
          text-align: right;
        }
      }
    }
    .chat-b-body{
      position: relative;
      height: calc(100vh  - 238px);
      @include mq('tablet'){
        height: calc(100vh  - 197px);
      }
      @include mq('desktop'){
        height: calc(100vh  - 150px);
      }
      .chat-b-body-inner{
        padding: 30px 20px 15px;
        height: 100%;
        overflow-y: auto;
        @include mq('desktop'){
          padding: 30px 60px 15px;
        }
        .chat-date{
          display: table;
          white-space: nowrap;
          width: calc(100% - 40px);
          text-align: center;
          overflow: hidden;
          position: absolute;
          left: 50%;
          top: 0;
          height: 25px;
          line-height: 25px;
          background: $white;
          z-index: 1;
          @include transform(translate(-50%,0));
          @include mq('desktop'){
            width: calc(100% - 120px);
          }
          &:before, &:after {
            border-top: 1px solid rgba(80, 158, 226, 0.2);
            content: '';
            display: table-cell;
            position: relative;
            top: 1em;
            width: 45%;
          }
          &:before { right: 1.5%; }
          &:after { left: 1.5%; }
    
        }
      }
    }
    .chat-b-foot{
      border-top: 1px solid rgba(80, 158, 226, 0.2);
      .chat-b-foot-inner{
        padding: 15px 20px;
      }
    }
  }
}

.btn-image{
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-size: 13px;
  line-height: 16px;
  padding-left: 20px;
  position: relative;
  background: transparent;
  border: 0;
  display: inline-block;
  &:before{
    @include pseudo();
    left: 0;
    top: 50%;
    background-image: url(../images/gallery.svg);
    background-repeat: no-repeat;
    background-size: 16px 13px;
    width: 16px;
    height: 13px;
    @include transform(translate(0,-50%));
  }
}

.chat-activer-now{
  font-size: 13px;
  line-height: 16px;
  padding-left: 12px;
  position: relative;
  display: inline-block;
  &:before{
    @include pseudo();
    width: 5px;
    height: 5px;
    @include rounded(50%);
    background-color: $blue;
    left: 0;
    top: 50%;
    @include transform(translate(0,-50%));
  }

}
.btn-round{
  width: 40px;
  height: 40px;
  display: inline-block;
  @include rounded(50%);
  background-color: $blue;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  @include transition(0.3s, ease-in-out);
  &:hover{
    @include transform(scale(1.05));
    @include transition(0.3s, ease-in-out);
  }
  &.btn-video-call{
    background-image: url(../images/video-call.svg);
  }
  &.btn-phone-call{
    background-image: url(../images/phone-call.svg);

  }
  &.btn-add-friend{
    background-image: url(../images/add.svg);
  }
}
.chat-attach-file{
  display: inline-block;
  position: relative; 
  width: 25px;
  height: 25px;
  overflow: hidden;
  input[type=file]{
    width: 25px;
    height: 25px;
    display: inline-block;
    @include center-absolute('both');
    overflow: hidden;
    @include opacity(0);
    &:hover, &:focus{
      cursor: pointer;       
    }
  }
  &:hover, &:focus{
    cursor: pointer; 
    button{
      @include opacity(1);
      background-color: #f0f4f8;
      @include transition(0.3s, ease-in-out);
    }
  }
}
.btn-attach{
  width: 25px;
  height: 25px;
  display: inline-block;
  @include rounded(50%);
  background-color: transparent;
  @include opacity(0.7);
  background-size: 12px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  @include transition(0.3s, ease-in-out);
  &:hover{
    @include opacity(1);
    background-color: #f0f4f8;
    @include transition(0.3s, ease-in-out);
  }
  &.btn-img{
    background-image: url(../images/gallery-grey.svg);
  }
  &.btn-file{
    background-image: url(../images/file-grey.svg);
  }
}
.btn-submit{
  width: 40px;
  height: 40px;
  display: inline-block;
  @include rounded(50%);
  background-color: $blue;
  background-image: url(../images/sent-mail.svg);
  background-size: 20px 20px;
  @include opacity(0.3);
  background-repeat: no-repeat;
  background-position: center center;
  @include transition(0.3s, ease-in-out);
  &.can-submit{
    @include opacity(1);
    @include transition(0.3s, ease-in-out);
  }
}
.chat-b-box{
  margin-bottom: 5px;
  .chat-avatar{
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    @include rounded(50%);
    overflow: hidden;
    margin-right: 8px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .chat-body{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 48px);  
    span{
      margin-bottom: 0;
      font-size: 12px;
      line-height: 14px;
      opacity: .8;
      display: block;
    }
    .chat-text{
      background-color: #c7edfc;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      display: inline-block;
      padding: 8px;
      p{
        font-size: 13px;
        opacity: 1;
        line-height: 16px;
      }
    }
  }
  &.is-current-user{
    text-align: right;

    .chat-avatar{
      display: none;
    }
    .chat-body{
      width: 100%;  
      span{
        opacity: .8;
      }
      .chat-text{
        background-color: #f0f4f8;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

      }
    }
  }
  &.is-list-chat{
    .chat-body{
      span{
        display: none;
      }
    }
    .chat-avatar{
      opacity: 0;
    }
  }
}

.send-message-form{
  input[type=text]{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 106px);
    border-bottom: 0;
    padding: 0;
  }
  .chat-attach-file{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
  button[type=submit]{
    display: inline-block;
    vertical-align: middle;

  }
}