$breakpoints: (
        "phone": 320px,
        "phone-wide": 375px,
        "tablet": 768px,
        "tablet-wide": 1024px,
        "desktop": 1080px,
        "desktop-1400": 1400px,
        "desktop-1600": 1600px,
        "desktop-1800": 1800px,
);

$default : #444444;
$white: #ffffff;
$grey: #d6dfe6;
$blue: #509ee2;