@import './_var.scss';
@import './_mixin.scss';
@import './_common.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
header{
    padding: 10px 0;
    background-color: $blue;
    .chat-b-container{
        padding: 0 20px;
        .btn-back-arrow{
            margin-right: 8px;
            width: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: middle;
            @include rounded(5px);
            background-color: rgba(255, 255, 255, 0.2);
            background-size: 12px 15px;
            background-image: url(../images/left-arrow.svg);
    
            background-repeat: no-repeat;
            background-position: center center;
            @include transition(0.3s, ease-in-out);
            &:hover{
              @include transition(0.3s, ease-in-out);
            } 
        }
        p{
            display: inline-block;
            vertical-align: middle;
            color: $white;
        }
    }
}
.chat-s-app{
    height: calc(100vh - 45px);    
    overflow: hidden;
    .chat-b-container{
        .chat-b-left{
            background-color: #f1f5f8;
            position: fixed;
            width: 90%;
            height: 100%;
            left: -90%;
            top: 0;
            z-index: 1;
            @include transition(0.4s, ease-in-out);
            .chat-b-left-inner{
                background-color: #f1f5f8;
                .chat-b-head{
                    padding: 15px 20px;
                    background-color: $blue;
                }
                .chat-b-body{
                    padding: 15px 20px;
                    border-bottom: 1px solid #d7dfe6;
                }
                .chat-b-foot{
                    height: calc(100vh - 129px);
                    overflow-y: auto;
                }
            }
        }
        .chat-b-right{
            background-color: $white;
            position: fixed;
            width: 100%;
            height: 100%;
            right: 0;
            z-index: 1;
            @include transition(0.4s, ease-in-out);
            .chat-b-right-inner{
                padding: 15px 0;
            }    
        }
        
    }
}
.chat-show-b-left{
    background-color: rgba(0,0,0,.4);
    .chat-s-app{
        .chat-b-container{
            .chat-b-left{
                width: 100%;
                left: 0;
                z-index: 10;
                padding-right: 40px;
                background-color: rgba(0, 0, 0, 0.4);
                @include transition( 0.4s, ease-in-out); 
            }
        }
    }     
}
@include mq('tablet'){

}
@include mq('desktop'){
    .chat-s-app{
        .chat-b-container{
            .chat-b-left{
                width: 25%;
                left: 0;
                z-index: 1;  
            }
            .chat-b-right{
                width: 75%;
                right: 0;
                z-index: 0;  

            }
        }
    }
}